---
# 在宿主机上启动 binary 或者是 docker
deployment_method: binary

#目标机系统自带Python版本
self_python_version: 3.6.9

# 部署服务开关
enable_deploy_consul: true

# 检查服务的状态
check_service_status: true

# consul的 key-value 选项 
storage_ip: 192.168.112.150
storage_port: 9098


# #### 下面的变量不建议用户修改 ####

# carrier 服务连接进metis网络时优先连接的引导节点的nodeId数组 (enr前缀格式)
bootstrap_nodes: []

# 服务静态文件下载 url
download_url: "http://192.168.9.150/metis/"
consul_download_url: "https://releases.hashicorp.com/consul/1.10.4/consul_1.10.4_linux_amd64.zip"

# 证书文件，非必改目录
via_cert_dir:   "{{ playbook_dir }}/config/via_cert"
carrier_cert_dir:   "{{ playbook_dir }}/config/carrier_cert"
admin_cert_dir:   "{{ playbook_dir }}/config/admin_cert"
scan_cert_dir:   "{{ playbook_dir }}/config/scan_cert"
storage_cert_dir:   "{{ playbook_dir }}/config/storage_cert"
compute_cert_dir:   "{{ playbook_dir }}/config/compute_cert"
data_cert_dir:   "{{ playbook_dir }}/config/data_cert"

# #### 下面的变量不能进行更改 #### 

# 公共变量
listen_all_ip: 0.0.0.0
carrier_pprof_ip: "{{ listen_all_ip }}"
carrier_rpc_ip: "{{ listen_all_ip }}"
carrier_grpc_gateway_ip: "{{ listen_all_ip }}"
carrier_p2p_listen_ip: "{{ listen_all_ip }}"

# 文件下载目录，非必改变量
downloads_dir: "{{ playbook_dir }}/downloads"
avx2: "{{ downloads_dir }}/avx2"
no_avx2: "{{ downloads_dir }}/no_avx2"

# 目标主机文件安装目录
deploy_dir: "/home/{{ansible_ssh_user}}"

# consul agent 信息
consul_zip_name: "{{ consul_download_url.split('/')[-1] | trim }}"
consul_number_int: "{{ groups['consul'] | length | int}}"
consul_leader_ip: "{{ groups['consul'][0] }}"
consul_leader_port: "{{ consul_http_port[0] }}"
consul_leader_serf_lan_port: "{{ consul_serf_lan_port[0] }}"
consul_http_port_self:   "{% set consul_number_int = consul_number_int | int %}
                          {% for i in range(consul_number_int) %}
                              {% if groups['consul'][i] == inventory_hostname %}
                                {{consul_http_port[i] |int}}
                              {% endif %}
                          {% endfor %}"

# data 相关信息
data_port_self: "{% set data_number_int = groups['data'] | length |int %} 
                  {% for i in range(data_number_int) %}
                    {% if groups['data'][i] == inventory_hostname %}
                      {{data_port[i] |int}}  
                    {% endif %}
                  {% endfor %}"

# compute 相关信息
compute_port_self: "{% set compute_number_int = groups['compute'] | length |int %} 
                    {% for i in range(compute_number_int) %}
                      {% if groups['compute'][i] == inventory_hostname %}
                        {{compute_port[i] |int}}  
                      {% endif %}
                    {% endfor %}"
