# 调度服务相关配置文件模板
datadir: {{carrier_data_dir}}
verbosity: debug

# 调试模块
pprof: true
pprof-port: {{carrier_pprof_port}}
pprof-addr: {{carrier_pprof_ip}}
debug: true

# p2p 模块
# tls-cert: {{carrier_tls_cert}}
# tls-key: {{carrier_tls_key}}
disable-grpc-gateway: false
rpc-host: {{carrier_rpc_ip}}
rpc-port: {{carrier_rpc_port}}
grpc-gateway-host: {{carrier_grpc_gateway_ip}}
grpc-gateway-port: {{carrier_grpc_gateway_port}}
enable-debug-rpc-endpoints: true
no-discovery: false
bootstrap-node: []
p2p-udp-port: {{carrier_p2p_udp_port}}
p2p-tcp-port: {{carrier_p2p_tcp_port}}
p2p-local-ip: {{carrier_p2p_listen_ip}}
p2p-host-ip: {{carrier_external_ip}}
p2p-priv-key: {{carrier_p2p_private_key}}
p2p-max-peers: 200
kms.key-id: 0ead1984-01c9-44de-8f56-6a4aa450a917
kms.region-id: cn-hangzhou
kms.access-key-id: LTAI4GG5R3n1A7euPzEJNUex
kms.access-key-secret: 7OuIn5EIAOxViSRBuGOHuR88mrHYh7
blockchain.url: http://8.219.126.197:6789
blockchain.hrp: lat
task.metadata-consume-option: 2
# 注册中心信息
discovery-server-ip: {{consul_leader_ip}}
discovery-server-port: {{consul_leader_port}}
