# 计算节点的配置模板
bind_ip: {{inventory_hostname}}
port: {{compute_port_self}}
thread_pool_size: 12
pass_via: true
code_root_dir: {{code_root_dir}}
results_root_dir: {{results_root_dir}}
total_bandwidth: 20000000
certs: 
  base_path: {{base_path}}
  root_cert: CA.crt
  server_sign_key: SS.key
  server_sign_cert: SS.crt
  server_enc_key: SE.key
  server_enc_cert: SE.crt
  client_sign_key: CS.key
  client_sign_cert: CS.crt
  client_enc_key: CE.key
  client_enc_cert: CE.crt
