# 计算节点的配置模板
file_system: local
bind_ip: {{inventory_hostname}}
register_ip: {{inventory_hostname}}
port: {{compute_port_self}}
task_port_range: [41000, 41100]
thread_pool_size: 12
pass_via: true
code_root_dir: {{code_root_dir}}
results_root_dir: {{results_root_dir}}
total_bandwidth: 209715200
channel_log_level: 2
pass_ice: true
certs:
  base_path: ""
  root_cert: ""
  server_sign_key: SS.key
  server_sign_cert: SS.crt
  server_enc_key: SE.key
  server_enc_cert: SE.crt
  client_sign_key: CS.key
  client_sign_cert: CS.crt
  client_enc_key: CE.key
  client_enc_cert: CE.crt
consul:
  service_ip: {{consul_leader_ip}}
  service_port: {{consul_leader_port}}
  name: jobService
  tag: job
  interval: 3s
  deregister: 3s
