{
    "datacenter": "consul_cluster",
    "node_name": "consul_{{inventory_hostname}}",
    "client_addr": "0.0.0.0",
    "bind_addr": "0.0.0.0",
    "advertise_addr": "{{inventory_hostname}}",
    "data_dir": "{{data_dir}}",
    "log_file": "{{log_file}}",
    "log_level": "INFO",
    "server": true,
    "bootstrap_expect": {{consul_number_int}},
    "ui": true,
{% set consul_number_int = consul_number_int | int %}
{% for i in range(consul_number_int) %}
{% if groups['consul'][i] == inventory_hostname %}
    "ports": {
        "server": {{consul_server_port[i]}},  
        "serf_lan": {{consul_serf_lan_port[i]}}, 
        "serf_wan": {{consul_serf_wan_port[i]}}, 
        "http": {{consul_http_port[i]}},  
        "dns": {{consul_dns_port[i]}}   
    }
{% endif %}
{% endfor %}
}