{% if enable_tls %}
server {
        listen 443 ssl;
        server_name {{admin_server_name}};
        ssl_certificate {{ admin_ssl_cetificate}};
        ssl_certificate_key {{admin_ssl_cetificate_key}};
        ssl_protocols {{ admin_ssl_protocols }};
        ssl_ciphers {{admin_ssl_ciphers}};
        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:10m;
        ssl_session_timeout 10m;
        charset utf-8;
        client_max_body_size 10m;

        location /metis-admin {
                proxy_pass  http://localhost:{{admin_web_port}}/metis-admin;
                proxy_redirect          default;
                proxy_set_header        Host $host:$proxy_port;
                proxy_set_header        X-Real-IP $remote_addr;
                proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_http_version 1.1;
                proxy_read_timeout 86400;
        }
        location / {
                root {{admin_web_static_dir}};
                index index.html;
                try_files $uri $uri/ /index.html;
        }
}
{% endif %}


server {
        listen 80;
        server_name {{admin_server_name}};
        charset utf-8;
        client_max_body_size 10m;

        location /metis-admin {
                proxy_pass  http://localhost:{{admin_web_port}}/metis-admin;
                proxy_redirect          default;
                proxy_set_header        Host $host:$proxy_port;
                proxy_set_header        X-Real-IP $remote_addr;
                proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_http_version 1.1;
                proxy_read_timeout 86400;
        }
        location / {
                root {{admin_web_static_dir}};
                index index.html;
                try_files $uri $uri/ /index.html;
        }
}